In [1]:
import pandas as pd

In [16]:
df = pd.read_csv('data/ironhack_careers.csv')
df.head()

,id,full_name,email,cohort,curriculum,graduation_date,status,date_registered,saved,applied,inContact,interview,offer,hired
0,46987,Débora Peres Moreno de Souza,pmsdeb.ie@gmail.com,LIS-UXUIFT-Oct2021,UXUI,2021-12-17,Actively Seeking,2022-01-13,13,0,0,0,0,0
1,46963,Fernando Rocha,fernando.rocha@gmail.com,LIS-UXUIFT-Oct2021,UXUI,2021-12-17,Actively Seeking,2022-01-12,35,34,9,8,1,0
2,46961,Marta Cacabelos Martínez,marta.cacabelos.mtnez@gmail.com,LIS-UXUIFT-Oct2021,UXUI,2021-12-17,Actively Seeking,2022-01-12,0,0,0,0,0,0
3,46956,Renato Filipe,renatofilipe1@gmail.com,LIS-DATAFT-Oct2021,Data Analytics,2021-12-17,Actively Seeking,2022-01-11,5,0,0,0,0,0
4,46946,Milton Correa,miltoncorrea6@gmail.com,LIS-UXUIFT-Oct2021,UXUI,2021-12-17,Actively Seeking,2022-01-10,0,0,0,0,0,0

In [4]:
df.describe()

,id,saved,applied,inContact,interview,offer,hired
count,221.000000,221.000000,221.000000,221.000000,221.000000,221.000000,221.000000
mean,45287.954751,37.656109,27.171946,6.307692,3.488688,0.176471,0.565611
std,1371.467859,44.247335,40.200490,10.008423,5.084389,0.447811,0.514776
min,42735.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,44232.000000,9.000000,3.000000,0.000000,0.000000,0.000000,0.000000
50%,45499.000000,23.000000,13.000000,3.000000,1.000000,0.000000,1.000000
75%,46488.000000,48.000000,34.000000,9.000000,5.000000,0.000000,1.000000
max,46987.000000,374.000000,367.000000,95.000000,28.000000,2.000000,2.000000

In [6]:
df.columns

Index(['id', 'full_name', 'email', 'cohort', 'curriculum', 'graduation_date',
       'status', 'date_registered', 'saved', 'applied', 'inContact',
       'interview', 'offer', 'hired'],
      dtype='object')

In [35]:
ux = df['curriculum'] == 'UXUI'
da = df['curriculum'] == 'Data Analytics'
wd = df['curriculum'] == 'Web Dev'
print(len(df))
print(len(df[ux]) + len(df[da]) + len(df[wd]))

221
216

In [45]:
n_ux = df['curriculum'] != 'UXUI'
n_da = df['curriculum'] != 'Data Analytics'
n_wd = df['curriculum'] != 'Web Dev'

df[df['curriculum'] == 'Cybersecurity']

,id,full_name,email,cohort,curriculum,graduation_date,status,date_registered,saved,applied,inContact,interview,offer,hired
77,46357,André Almeida,andralmeida3@gmail.com,LIS-CSFT-Jun2021,Cybersecurity,2021-09-17,Actively Seeking,2021-09-20,2,1,0,0,0,0
78,46356,João Gil,joaomiguelnunesgil@gmail.com,LIS-CSFT-Jun2021,Cybersecurity,2021-09-17,Passively Seeking,2021-09-20,22,13,0,0,0,0
79,46353,Louise Altvater,louise.altvater@gmail.com,LIS-CSFT-Jun2021,Cybersecurity,2021-09-17,Hired,2021-09-20,48,46,9,6,1,0
80,46351,Maria do Rosário Exposto,roexposto@gmail.com,LIS-CSFT-Jun2021,Cybersecurity,2021-09-17,Hired,2021-09-20,37,34,5,5,0,0
81,46346,Francisco Campos,francisco.campos.b@hotmail.com,LIS-CSFT-Jun2021,Cybersecurity,2021-09-17,Hired,2021-09-20,118,118,27,16,1,0

In [36]:
df['curriculum'] = df['curriculum'].apply(lambda x : x.strip())

In [37]:
print(len(df))
print(len(df[ux]) + len(df[da]) + len(df[wd]))

221
216