In [129]:
import pandas as pd
import numpy as np

In [130]:
data = pd.read_csv('data/ironhack_careers.csv')
df = data.copy()
df.head()

,id,full_name,email,cohort,curriculum,graduation_date,status,date_registered,saved,applied,inContact,interview,offer,hired
0,46987,Débora Peres Moreno de Souza,pmsdeb.ie@gmail.com,LIS-UXUIFT-Oct2021,UXUI,2021-12-17,Actively Seeking,2022-01-13,13,0,0,0,0,0
1,46963,Fernando Rocha,fernando.rocha@gmail.com,LIS-UXUIFT-Oct2021,UXUI,2021-12-17,Actively Seeking,2022-01-12,35,34,9,8,1,0
2,46961,Marta Cacabelos Martínez,marta.cacabelos.mtnez@gmail.com,LIS-UXUIFT-Oct2021,UXUI,2021-12-17,Actively Seeking,2022-01-12,0,0,0,0,0,0
3,46956,Renato Filipe,renatofilipe1@gmail.com,LIS-DATAFT-Oct2021,Data Analytics,2021-12-17,Actively Seeking,2022-01-11,5,0,0,0,0,0
4,46946,Milton Correa,miltoncorrea6@gmail.com,LIS-UXUIFT-Oct2021,UXUI,2021-12-17,Actively Seeking,2022-01-10,0,0,0,0,0,0

In [131]:
df.describe()

,id,saved,applied,inContact,interview,offer,hired
count,221.000000,221.000000,221.000000,221.000000,221.000000,221.000000,221.000000
mean,45287.954751,37.656109,27.171946,6.307692,3.488688,0.176471,0.565611
std,1371.467859,44.247335,40.200490,10.008423,5.084389,0.447811,0.514776
min,42735.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,44232.000000,9.000000,3.000000,0.000000,0.000000,0.000000,0.000000
50%,45499.000000,23.000000,13.000000,3.000000,1.000000,0.000000,1.000000
75%,46488.000000,48.000000,34.000000,9.000000,5.000000,0.000000,1.000000
max,46987.000000,374.000000,367.000000,95.000000,28.000000,2.000000,2.000000

In [132]:
df.dtypes

id                  int64
full_name          object
email              object
cohort             object
curriculum         object
graduation_date    object
status             object
date_registered    object
saved               int64
applied             int64
inContact           int64
interview           int64
offer               int64
hired               int64
dtype: object

In [133]:
# strip columns (remove spaces)
for col in df.columns:
    if type(col) == object:
        df[col] = df[col].apply(lambda x : x.strip())
    else:
        continue

In [134]:
ux = df['curriculum'] == 'UXUI'
da = df['curriculum'] == 'Data Analytics'
wd = df['curriculum'] == 'Web Dev'
print(len(df))
print(len(df[ux]) + len(df[da]) + len(df[wd]))

221
216

In [135]:
df[df['curriculum'] == 'Cybersecurity']

,id,full_name,email,cohort,curriculum,graduation_date,status,date_registered,saved,applied,inContact,interview,offer,hired
77,46357,André Almeida,andralmeida3@gmail.com,LIS-CSFT-Jun2021,Cybersecurity,2021-09-17,Actively Seeking,2021-09-20,2,1,0,0,0,0
78,46356,João Gil,joaomiguelnunesgil@gmail.com,LIS-CSFT-Jun2021,Cybersecurity,2021-09-17,Passively Seeking,2021-09-20,22,13,0,0,0,0
79,46353,Louise Altvater,louise.altvater@gmail.com,LIS-CSFT-Jun2021,Cybersecurity,2021-09-17,Hired,2021-09-20,48,46,9,6,1,0
80,46351,Maria do Rosário Exposto,roexposto@gmail.com,LIS-CSFT-Jun2021,Cybersecurity,2021-09-17,Hired,2021-09-20,37,34,5,5,0,0
81,46346,Francisco Campos,francisco.campos.b@hotmail.com,LIS-CSFT-Jun2021,Cybersecurity,2021-09-17,Hired,2021-09-20,118,118,27,16,1,0

In [136]:
df = df[df['curriculum'] != 'Cybersecurity']

In [137]:
print(len(df))
print(len(df[ux]) + len(df[da]) + len(df[wd]))

216
216

/var/folders/zw/4thxf2jn0h5cjn61m7hjsvr00000gp/T/ipykernel_13522/1080565995.py:2: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  print(len(df[ux]) + len(df[da]) + len(df[wd]))

In [138]:
print("Cohorts:", df.cohort.unique())
print("Curriculums", df.curriculum.unique())
print("Graduation dates:", df.graduation_date.unique())
print("Status:", df.status.unique())
print("Hired:", df.hired.unique())

Cohorts: ['LIS-UXUIFT-Oct2021' 'LIS-DATAFT-Oct2021' 'LIS-WDFT-Oct2021'
 'LIS-UXUIPT-Mar2021' 'LIS-WDFT-Aug2021' 'LIS-DATAPT-Mar2021'
 'LIS-UXUIFT-Aug2021' 'LIS-WDFT-May2021' 'LIS-DATAFT-May2021'
 'LIS-WDFT-Mar2021' 'LIS-DATAFT-Mar2021' 'LIS-UXUIFT-Mar2021'
 'LIS-WDPT-Oct2020' 'LIS-DATAPT-Oct2020' 'LIS-PTFEB-WEB'
 'LIS-DATAFTJan2021' 'LIS-WDFTJan2021' 'LIS-WDFT06' 'LIS-UXFT10'
 'LIS-WDFT10' 'LIS-DAFT10' 'LIS-DAFT06' 'LIS-PTFEB-DATA' 'LIS-UXUIFT04'
 'LIS-WDFT04']
Curriculums ['UXUI' 'Data Analytics' 'Web Dev']
Graduation dates: ['2021-12-17' '2021-10-22' '2021-10-08' '2021-10-23' '2021-07-30'
 '2021-05-21' '2021-05-08' '2020-07-31' '2021-03-12' '2020-08-31'
 '2020-12-11' '2020-06-15']
Status: ['Actively Seeking' 'Not Seeking' 'Hired' 'Passively Seeking'
 'Not seeking' 'Not Graduated']
Hired: [0 1 2]

In [139]:
df[df['status'] == 'Not seeking']['status'] = 'Not Seeking'
df.status.unique()

/var/folders/zw/4thxf2jn0h5cjn61m7hjsvr00000gp/T/ipykernel_13522/2446374422.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[df['status'] == 'Not seeking']['status'] = 'Not Seeking'

array(['Actively Seeking', 'Not Seeking', 'Hired', 'Passively Seeking',
       'Not seeking', 'Not Graduated'], dtype=object)

In [140]:
df[df['hired'] == 2]['hired'] = 1

/var/folders/zw/4thxf2jn0h5cjn61m7hjsvr00000gp/T/ipykernel_13522/401468499.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[df['hired'] == 2]['hired'] = 1

In [141]:
#df.head()
df.hired.unique()

array([0, 1, 2])

In [142]:
df['conv_applied_interview'] = df.apply(lambda x : x['applied']/x['interview'] if x['interview'] != 0 else 0, axis=1)
df['conv_interview_hired'] = df.apply(lambda x : x['interview']/x['hired'] if x['hired'] != 0 else 0, axis=1)

In [143]:
df['conv_applied_interview'].value_counts()

0.000000     85
3.000000      9
5.000000      7
2.000000      4
9.000000      4
             ..
8.375000      1
49.666667     1
19.333333     1
12.750000     1
1.888889      1
Name: conv_applied_interview, Length: 94, dtype: int64

In [144]:
df['conv_interview_hired'].value_counts()

0.0     126
3.0      15
1.0      13
2.0       9
4.0       9
9.0       7
6.0       6
8.0       5
5.0       5
7.0       3
10.0      3
16.0      3
21.0      2
14.0      2
18.0      1
13.0      1
22.0      1
19.0      1
6.5       1
12.0      1
15.0      1
11.0      1
Name: conv_interview_hired, dtype: int64

In [145]:
df

,id,full_name,email,cohort,curriculum,graduation_date,status,date_registered,saved,applied,inContact,interview,offer,hired,conv_applied_interview,conv_interview_hired
0,46987,Débora Peres Moreno de Souza,pmsdeb.ie@gmail.com,LIS-UXUIFT-Oct2021,UXUI,2021-12-17,Actively Seeking,2022-01-13,13,0,0,0,0,0,0.000000,0.0
1,46963,Fernando Rocha,fernando.rocha@gmail.com,LIS-UXUIFT-Oct2021,UXUI,2021-12-17,Actively Seeking,2022-01-12,35,34,9,8,1,0,4.250000,0.0
2,46961,Marta Cacabelos Martínez,marta.cacabelos.mtnez@gmail.com,LIS-UXUIFT-Oct2021,UXUI,2021-12-17,Actively Seeking,2022-01-12,0,0,0,0,0,0,0.000000,0.0
3,46956,Renato Filipe,renatofilipe1@gmail.com,LIS-DATAFT-Oct2021,Data Analytics,2021-12-17,Actively Seeking,2022-01-11,5,0,0,0,0,0,0.000000,0.0
4,46946,Milton Correa,miltoncorrea6@gmail.com,LIS-UXUIFT-Oct2021,UXUI,2021-12-17,Actively Seeking,2022-01-10,0,0,0,0,0,0,0.000000,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
216,42744,Susanne Aubert,susanneaubert@gmail.com,LIS-UXUIFT04,UXUI,2020-06-15,Hired,2020-05-26,119,74,6,4,0,1,18.500000,4.0
217,42743,Laissa Moura Ferreira,laissamf@gmail.com,LIS-UXUIFT04,UXUI,2020-06-15,Hired,2020-05-26,67,12,1,15,0,1,0.800000,15.0
218,42741,Cesar Mello,cesarpcj@hotmail.com,LIS-WDFT04,Web Dev,2020-06-15,Hired,2020-05-26,66,48,2,11,0,1,4.363636,11.0
219,42740,Lucas Saldanha,lucassal16@gmail.com,LIS-UXUIFT04,UXUI,2020-06-15,Hired,2020-05-26,129,77,0,1,0,1,77.000000,1.0
220,42735,Ana Isabel de Almeida,ana.isabel190@gmail.com,LIS-WDFT04,Web Dev,2020-06-15,Hired,2020-05-26,33,17,0,9,2,1,1.888889,9.0

In [146]:
df.to_csv('data/ironhack_careers_clean.csv')

In [147]:
df.groupby(['curriculum', 'cohort']).agg({'id':'count'})
df.groupby(['curriculum', 'cohort']).agg({'applied':'mean', 'id':'count', 'interview' : 'mean'})
df.groupby(['curriculum', 'cohort', 'hired']).agg({'id':'count', 'hired':'count'})

                                   id
curriculum     cohort
Data Analytics LIS-DAFT06           8
               LIS-DAFT10          12
               LIS-DATAFT-Mar2021   4
               LIS-DATAFT-May2021   5
               LIS-DATAFT-Oct2021   9
               LIS-DATAFTJan2021    5
               LIS-DATAPT-Mar2021   4
               LIS-DATAPT-Oct2020   5
               LIS-PTFEB-DATA       3
UXUI           LIS-UXFT10          16
               LIS-UXUIFT-Aug2021  14
               LIS-UXUIFT-Mar2021   5
               LIS-UXUIFT-Oct2021  14
               LIS-UXUIFT04         9
               LIS-UXUIPT-Mar2021   7
Web Dev        LIS-PTFEB-WEB        6
               LIS-WDFT-Aug2021    12
               LIS-WDFT-Mar2021    10
               LIS-WDFT-May2021     9
               LIS-WDFT-Oct2021    17
               LIS-WDFT04          11
               LIS-WDFT06          10
               LIS-WDFT10          13
               LIS-WDFTJan2021      4
               LIS-WDPT-Oct2020     4

In [154]:
clean_data = pd.read_csv("data/ironhack_careers_clean.csv")
clean_data.head()

,Unnamed: 0,id,full_name,email,cohort,curriculum,graduation_date,status,date_registered,saved,applied,inContact,interview,offer,hired,conv_applied_interview,conv_interview_hired
0,0,46987,Débora Peres Moreno de Souza,pmsdeb.ie@gmail.com,LIS-UXUIFT-Oct2021,UXUI,2021-12-17,Actively Seeking,2022-01-13,13,0,0,0,0,0,0.00,0.0
1,1,46963,Fernando Rocha,fernando.rocha@gmail.com,LIS-UXUIFT-Oct2021,UXUI,2021-12-17,Actively Seeking,2022-01-12,35,34,9,8,1,0,4.25,0.0
2,2,46961,Marta Cacabelos Martínez,marta.cacabelos.mtnez@gmail.com,LIS-UXUIFT-Oct2021,UXUI,2021-12-17,Actively Seeking,2022-01-12,0,0,0,0,0,0,0.00,0.0
3,3,46956,Renato Filipe,renatofilipe1@gmail.com,LIS-DATAFT-Oct2021,Data Analytics,2021-12-17,Actively Seeking,2022-01-11,5,0,0,0,0,0,0.00,0.0
4,4,46946,Milton Correa,miltoncorrea6@gmail.com,LIS-UXUIFT-Oct2021,UXUI,2021-12-17,Actively Seeking,2022-01-10,0,0,0,0,0,0,0.00,0.0

In [155]:
clean_data["graduation_date"]

0      2021-12-17
1      2021-12-17
2      2021-12-17
3      2021-12-17
4      2021-12-17
          ...
211    2020-06-15
212    2020-06-15
213    2020-06-15
214    2020-06-15
215    2020-06-15
Name: graduation_date, Length: 216, dtype: object

In [156]:
clean_data["graduation_date"] = pd.to_datetime(clean_data["graduation_date"], format="%Y-%m-%d")
clean_data.sort_values("graduation_date", inplace=True)

In [158]:
clean_data

,Unnamed: 0,id,full_name,email,cohort,curriculum,graduation_date,status,date_registered,saved,applied,inContact,interview,offer,hired,conv_applied_interview,conv_interview_hired
215,220,42735,Ana Isabel de Almeida,ana.isabel190@gmail.com,LIS-WDFT04,Web Dev,2020-06-15,Hired,2020-05-26,33,17,0,9,2,1,1.888889,9.0
214,219,42740,Lucas Saldanha,lucassal16@gmail.com,LIS-UXUIFT04,UXUI,2020-06-15,Hired,2020-05-26,129,77,0,1,0,1,77.000000,1.0
196,201,42986,Artur Serra,artur.aserra@gmail.com,LIS-UXUIFT04,UXUI,2020-06-15,Hired,2020-06-18,24,11,0,0,0,1,0.000000,0.0
197,202,42959,Vasco Matos,vascomato@gmail.com,LIS-WDFT04,Web Dev,2020-06-15,Hired,2020-06-09,21,5,0,3,0,1,1.666667,3.0
199,204,42836,Ricardo Sacardo,rperezsacardo@gmail.com,LIS-WDFT04,Web Dev,2020-06-15,Hired,2020-05-28,140,54,7,14,1,1,3.857143,14.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25,25,46872,Filipe Costa,fa.pc1995@gmail.com,LIS-DATAFT-Oct2021,Data Analytics,2021-12-17,Passively Seeking,2021-12-20,0,0,0,0,0,0,0.000000,0.0
24,24,46875,Clara Vasconcelos,claraeclara@gmail.com,LIS-WDFT-Oct2021,Web Dev,2021-12-17,Hired,2021-12-20,4,2,2,2,0,1,1.000000,2.0
23,23,46891,Filipe Gardete,fgardete@gmail.com,LIS-DATAFT-Oct2021,Data Analytics,2021-12-17,Actively Seeking,2021-12-21,35,35,0,0,0,0,0.000000,0.0
32,32,46853,Thomas Schnabel,thomas.schnabel@gmail.com,LIS-UXUIFT-Oct2021,UXUI,2021-12-17,Not Seeking,2021-12-20,2,1,0,0,0,0,0.000000,0.0
0,0,46987,Débora Peres Moreno de Souza,pmsdeb.ie@gmail.com,LIS-UXUIFT-Oct2021,UXUI,2021-12-17,Actively Seeking,2022-01-13,13,0,0,0,0,0,0.000000,0.0

In [173]:
# students searching
condition1 = clean_data['status'] == 'Actively Seeking'
condition2 = clean_data['status'] == 'Passively Seeking'
len(clean_data[condition1 | condition2])

49

In [174]:
len(clean_data[clean_data['hired'] == 1])

121